body {
    background-color: rgb(248, 244, 244);
    color: rgb(238, 67, 102);
    
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 30px;
}

#fluid {
    margin-left: 3px;
}


#signUpLog {
    margin-top: 40px;
    font-size: larger;
    margin-left: 10px;
   
}

#checkbox {
    size: 20px;
}


#pleaCenter{
    text-align: center
}

#heading {
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    font-weight: bold;
}

#about {
    font-size: 75px;
    text-align: center;
    font-weight: bold;
}

#pleaText{
    color: black;
    font-size: larger;
}

#submit {
    margin-top: 15px;
    margin-left: 15px;
    
}

#animal, #age {
    margin-right: 5px;
}

#text {
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#textBox {
    text-align: center;
    margin-bottom: 50px;
    height: 200px;
    width: 350px;
}

#sadDog {
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#happyDog {
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#links {
    margin-left: 30px;
    margin-right: 3px;
}

#photo, #click, {
    margin-left: 20px;
}

#click {
    margin-top: 40px;
}

#adminPage {
    background-color:  rgb(238, 67, 102);
    color: rgb(29, 206, 206);
    
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 50px;
}



